[user]
  name = Sean McKenna
  email = mckennapsean@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[push]
  default = simple
[alias]
  in = init
  cl = clone
  st = status -sb
  di = diff --color-words
  co = commit -m
  ac = commit -am
  coa = commit --amend
  cp = cherry-pick
  lo = log --oneline --abbrev-commit --all --graph --decorate --color
  sh = stash
  shp = stash pop
  br = branch
  ch = checkout
  me = merge
  re = rebase
  rem = rebase origin/master
  fe = fetch
  pl = pull
  ps = push
  psf = push --force-with-lease
